<%= simple_form_for @pokemon, html: {class: 'form-horizontal'} do |f| %>
<div class="">
  <div class="input-group col-lg-5">
    <%= f.input :name, label: 'Name', hint: 'No special characters.', class: 'form-control' %>
  </div>
  <div class="input-group col-lg-5">
    <%= f.input :level, label: 'Level', hint: 'No special characters.', class: 'form-control' %>
  </div>
  <div class="input-group col-lg-5">
    <%= f.input :number, label: 'Number', hint: 'No special characters.', class: 'form-control' %>
  </div>
  <div class="input-group col-lg-5">
    <%= f.input :health_points, label: 'Life points', hint: 'No special characters.', class: 'form-control' %>
  </div>
  <div class="input-group col-lg-5">
    <%= f.association :type, label: 'Type', hint: 'What kinda pokemon is this fucker ?', class: 'form-control' %>
  </div>
  <div class="input-group col-lg-5">
    <%= f.association :moves, label: 'Attaques', as: :check_boxes, class: 'form-control' %>
  </div>
</div>

<p>
  <%= f.submit 'Save', class: 'btn btn-md btn-success' %>
</p>
<% end %>
