<% if @pokemon %>
  <h1>Affichage d'un pokémon</h1> <br>
  <p>Id: <%= @pokemon.id %></p>
  <p>Name: <%= @pokemon.name %></p>
  <p>Number: <%= @pokemon.number %></p>
  <p>Level: <%= @pokemon.level %></p>
  <p>Life points: <%= @pokemon.health_points %></p>
  <% type = @pokemon.type %>
  <% unless type.nil? %>
    <p>
      <%= type_badge(type) %>
    </p>
  <% end %>
  <p>
    Attaques: <%= render partial: 'moves_list', locals: { moves: @pokemon.moves } %>
  </p>
<% else %>
  <h1>Aucun pokemon correspondant</h1>
<% end %>

<p>
  <%= link_to 'Liste des Pokemons', pokemons_path, class: 'btn btn-md btn-default' %>
  <%= link_to 'Ajouter un Pokemon', new_pokemon_path, class: 'btn btn-md btn-default' %>
</p>
